@import "../templates.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vmin;
  
  &__title {
    margin: 0;
    font-size: $h2;
  }
  &__menu {
    font-size: $p;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  &__link {
    color: $bs-green;
    padding: 0 calc(clamp(6px, 1.5vmax, 12.5px)) 0 calc(clamp(6px, 1.5vmax, 12.5px));
    &_active {
      background: $bs-gray-200;
      border-radius: 10px;
      border: 1px solid $bs-green;
    }
    &:hover {
      color: $bs-green;
      cursor: pointer;
    }
  }
}
